@page
@using Comet.Web.App.Services
@inject LanguageService Language
@model ForgotPasswordModel
@{
    ViewData["Title"] = Language.GetString("ForgotPassword");
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>
                        <hr />
                        @Html.Raw(Language.GetString("ForgotPasswordInstructions"))
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="youplay-input">
                                <input asp-for="Input.Email" autocomplete="off">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button class="btn btn-default db">@Language.GetString("Change")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
