{
"Database": {
"Hostname": "localhost",
"Schema": "zf",
"Username": "root",
"Password": "password"
},
"GameNetwork": {
"IPAddress": "192.168.0.106",
"Port": 5816,
"MaxConn": 500,
"ServerIdentity": 7,
"ServerName": "Dark",
"Username": "uOIMI9WHOMooKY0x",
"Password": "epPQ8dTJhtxxCobJ"
},
"RpcNetwork": {
"IPAddress": "127.0.0.1",
"Port": 9865
},
"Authentication": {
"StrictAuthPass": false
}
}